*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 5px;
    border-bottom: 6px solid green;
}