*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
   
}
.card{
    display: flex;
    max-width: 70%;
    min-width: 50%;
    background-color: white;
    flex-direction: row;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #751c9c;
    
}

img{
    height: 200px;
}

.text{
    padding: 4px;
    text-align: justify;
}

@media (max-width:700px){
   .card{
    flex-direction: column;
   }
}